{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^(react|react/(.*))$",
    "^(next|next/(.*))$",
    "^[a-zA-Z@](.*)$",
    "^(\\.|\\.\\.)(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
